@import "tailwindcss";

.body {
    @apply font-custom
}

@utility font-custom {
    font-family: "Google Sans", sans-serif;

}

.logo-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}
html {
  scroll-behavior: smooth;
}

/* google-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/google-sans-v70-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}